<select name="{{poll.pk}}" class="country{{poll.pk}}">
    <option class="country{{poll.pk}}" value="BE">Belgium</option>
    <option class="country{{poll.pk}}" value="LU">Luxembourg</option>
    <option class="country{{poll.pk}}" value="FR">France</option>
    <option class="country{{poll.pk}}" value="NL">Netherlands</option>
    <option class="country{{poll.pk}}" value="GB">United Kingdom</option>
    <option class="country{{poll.pk}}" value="DE">Germany</option>
    <option class="country{{poll.pk}}" value="AF">Afghanistan</option>
    <option class="country{{poll.pk}}" value="AX">Åland Islands</option>
    <option class="country{{poll.pk}}" value="AL">Albania</option>
    <option class="country{{poll.pk}}" value="DZ">Algeria</option>
    <option class="country{{poll.pk}}" value="AS">American Samoa</option>
    <option class="country{{poll.pk}}" value="AD">Andorra</option>
    <option class="country{{poll.pk}}" value="AO">Angola</option>
    <option class="country{{poll.pk}}" value="AI">Anguilla</option>
    <option class="country{{poll.pk}}" value="AQ">Antarctica</option>
    <option class="country{{poll.pk}}" value="AG">Antigua and Barbuda</option>
    <option class="country{{poll.pk}}" value="AR">Argentina</option>
    <option class="country{{poll.pk}}" value="AM">Armenia</option>
    <option class="country{{poll.pk}}" value="AW">Aruba</option>
    <option class="country{{poll.pk}}" value="AU">Australia</option>
    <option class="country{{poll.pk}}" value="AT">Austria</option>
    <option class="country{{poll.pk}}" value="AZ">Azerbaijan</option>
    <option class="country{{poll.pk}}" value="BS">Bahamas</option>
    <option class="country{{poll.pk}}" value="BH">Bahrain</option>
    <option class="country{{poll.pk}}" value="BD">Bangladesh</option>
    <option class="country{{poll.pk}}" value="BB">Barbados</option>
    <option class="country{{poll.pk}}" value="BY">Belarus</option>
    <option class="country{{poll.pk}}" value="BZ">Belize</option>
    <option class="country{{poll.pk}}" value="BJ">Benin</option>
    <option class="country{{poll.pk}}" value="BM">Bermuda</option>
    <option class="country{{poll.pk}}" value="BT">Bhutan</option>
    <option class="country{{poll.pk}}" value="BO">Bolivia, Plurinational State of</option>
    <option class="country{{poll.pk}}" value="BQ">Bonaire, Sint Eustatius and Saba</option>
    <option class="country{{poll.pk}}" value="BA">Bosnia and Herzegovina</option>
    <option class="country{{poll.pk}}" value="BW">Botswana</option>
    <option class="country{{poll.pk}}" value="BV">Bouvet Island</option>
    <option class="country{{poll.pk}}" value="BR">Brazil</option>
    <option class="country{{poll.pk}}" value="IO">British Indian Ocean Territory</option>
    <option class="country{{poll.pk}}" value="BN">Brunei Darussalam</option>
    <option class="country{{poll.pk}}" value="BG">Bulgaria</option>
    <option class="country{{poll.pk}}" value="BF">Burkina Faso</option>
    <option class="country{{poll.pk}}" value="BI">Burundi</option>
    <option class="country{{poll.pk}}" value="KH">Cambodia</option>
    <option class="country{{poll.pk}}" value="CM">Cameroon</option>
    <option class="country{{poll.pk}}" value="CA">Canada</option>
    <option class="country{{poll.pk}}" value="CV">Cape Verde</option>
    <option class="country{{poll.pk}}" value="KY">Cayman Islands</option>
    <option class="country{{poll.pk}}" value="CF">Central African Republic</option>
    <option class="country{{poll.pk}}" value="TD">Chad</option>
    <option class="country{{poll.pk}}" value="CL">Chile</option>
    <option class="country{{poll.pk}}" value="CN">China</option>
    <option class="country{{poll.pk}}" value="CX">Christmas Island</option>
    <option class="country{{poll.pk}}" value="CC">Cocos (Keeling) Islands</option>
    <option class="country{{poll.pk}}" value="CO">Colombia</option>
    <option class="country{{poll.pk}}" value="KM">Comoros</option>
    <option class="country{{poll.pk}}" value="CG">Congo</option>
    <option class="country{{poll.pk}}" value="CD">Congo, the Democratic Republic of the</option>
    <option class="country{{poll.pk}}" value="CK">Cook Islands</option>
    <option class="country{{poll.pk}}" value="CR">Costa Rica</option>
    <option class="country{{poll.pk}}" value="CI">Côte d'Ivoire</option>
    <option class="country{{poll.pk}}" value="HR">Croatia</option>
    <option class="country{{poll.pk}}" value="CU">Cuba</option>
    <option class="country{{poll.pk}}" value="CW">Curaçao</option>
    <option class="country{{poll.pk}}" value="CY">Cyprus</option>
    <option class="country{{poll.pk}}" value="CZ">Czech Republic</option>
    <option class="country{{poll.pk}}" value="DK">Denmark</option>
    <option class="country{{poll.pk}}" value="DJ">Djibouti</option>
    <option class="country{{poll.pk}}" value="DM">Dominica</option>
    <option class="country{{poll.pk}}" value="DO">Dominican Republic</option>
    <option class="country{{poll.pk}}" value="EC">Ecuador</option>
    <option class="country{{poll.pk}}" value="EG">Egypt</option>
    <option class="country{{poll.pk}}" value="SV">El Salvador</option>
    <option class="country{{poll.pk}}" value="GQ">Equatorial Guinea</option>
    <option class="country{{poll.pk}}" value="ER">Eritrea</option>
    <option class="country{{poll.pk}}" value="EE">Estonia</option>
    <option class="country{{poll.pk}}" value="ET">Ethiopia</option>
    <option class="country{{poll.pk}}" value="FK">Falkland Islands (Malvinas)</option>
    <option class="country{{poll.pk}}" value="FO">Faroe Islands</option>
    <option class="country{{poll.pk}}" value="FJ">Fiji</option>
    <option class="country{{poll.pk}}" value="FI">Finland</option>
    <option class="country{{poll.pk}}" value="GF">French Guiana</option>
    <option class="country{{poll.pk}}" value="PF">French Polynesia</option>
    <option class="country{{poll.pk}}" value="TF">French Southern Territories</option>
    <option class="country{{poll.pk}}" value="GA">Gabon</option>
    <option class="country{{poll.pk}}" value="GM">Gambia</option>
    <option class="country{{poll.pk}}" value="GE">Georgia</option>
    <option class="country{{poll.pk}}" value="GH">Ghana</option>
    <option class="country{{poll.pk}}" value="GI">Gibraltar</option>
    <option class="country{{poll.pk}}" value="GR">Greece</option>
    <option class="country{{poll.pk}}" value="GL">Greenland</option>
    <option class="country{{poll.pk}}" value="GD">Grenada</option>
    <option class="country{{poll.pk}}" value="GP">Guadeloupe</option>
    <option class="country{{poll.pk}}" value="GU">Guam</option>
    <option class="country{{poll.pk}}" value="GT">Guatemala</option>
    <option class="country{{poll.pk}}" value="GG">Guernsey</option>
    <option class="country{{poll.pk}}" value="GN">Guinea</option>
    <option class="country{{poll.pk}}" value="GW">Guinea-Bissau</option>
    <option class="country{{poll.pk}}" value="GY">Guyana</option>
    <option class="country{{poll.pk}}" value="HT">Haiti</option>
    <option class="country{{poll.pk}}" value="HM">Heard Island and McDonald Islands</option>
    <option class="country{{poll.pk}}" value="VA">Holy See (Vatican City State)</option>
    <option class="country{{poll.pk}}" value="HN">Honduras</option>
    <option class="country{{poll.pk}}" value="HK">Hong Kong</option>
    <option class="country{{poll.pk}}" value="HU">Hungary</option>
    <option class="country{{poll.pk}}" value="IS">Iceland</option>
    <option class="country{{poll.pk}}" value="IN">India</option>
    <option class="country{{poll.pk}}" value="ID">Indonesia</option>
    <option class="country{{poll.pk}}" value="IR">Iran, Islamic Republic of</option>
    <option class="country{{poll.pk}}" value="IQ">Iraq</option>
    <option class="country{{poll.pk}}" value="IE">Ireland</option>
    <option class="country{{poll.pk}}" value="IM">Isle of Man</option>
    <option class="country{{poll.pk}}" value="IL">Israel</option>
    <option class="country{{poll.pk}}" value="IT">Italy</option>
    <option class="country{{poll.pk}}" value="JM">Jamaica</option>
    <option class="country{{poll.pk}}" value="JP">Japan</option>
    <option class="country{{poll.pk}}" value="JE">Jersey</option>
    <option class="country{{poll.pk}}" value="JO">Jordan</option>
    <option class="country{{poll.pk}}" value="KZ">Kazakhstan</option>
    <option class="country{{poll.pk}}" value="KE">Kenya</option>
    <option class="country{{poll.pk}}" value="KI">Kiribati</option>
    <option class="country{{poll.pk}}" value="KP">Korea, Democratic People's Republic of</option>
    <option class="country{{poll.pk}}" value="KR">Korea, Republic of</option>
    <option class="country{{poll.pk}}" value="KW">Kuwait</option>
    <option class="country{{poll.pk}}" value="KG">Kyrgyzstan</option>
    <option class="country{{poll.pk}}" value="LA">Lao People's Democratic Republic</option>
    <option class="country{{poll.pk}}" value="LV">Latvia</option>
    <option class="country{{poll.pk}}" value="LB">Lebanon</option>
    <option class="country{{poll.pk}}" value="LS">Lesotho</option>
    <option class="country{{poll.pk}}" value="LR">Liberia</option>
    <option class="country{{poll.pk}}" value="LY">Libya</option>
    <option class="country{{poll.pk}}" value="LI">Liechtenstein</option>
    <option class="country{{poll.pk}}" value="LT">Lithuania</option>
    <option class="country{{poll.pk}}" value="MO">Macao</option>
    <option class="country{{poll.pk}}" value="MK">Macedonia, the former Yugoslav Republic of</option>
    <option class="country{{poll.pk}}" value="MG">Madagascar</option>
    <option class="country{{poll.pk}}" value="MW">Malawi</option>
    <option class="country{{poll.pk}}" value="MY">Malaysia</option>
    <option class="country{{poll.pk}}" value="MV">Maldives</option>
    <option class="country{{poll.pk}}" value="ML">Mali</option>
    <option class="country{{poll.pk}}" value="MT">Malta</option>
    <option class="country{{poll.pk}}" value="MH">Marshall Islands</option>
    <option class="country{{poll.pk}}" value="MQ">Martinique</option>
    <option class="country{{poll.pk}}" value="MR">Mauritania</option>
    <option class="country{{poll.pk}}" value="MU">Mauritius</option>
    <option class="country{{poll.pk}}" value="YT">Mayotte</option>
    <option class="country{{poll.pk}}" value="MX">Mexico</option>
    <option class="country{{poll.pk}}" value="FM">Micronesia, Federated States of</option>
    <option class="country{{poll.pk}}" value="MD">Moldova, Republic of</option>
    <option class="country{{poll.pk}}" value="MC">Monaco</option>
    <option class="country{{poll.pk}}" value="MN">Mongolia</option>
    <option class="country{{poll.pk}}" value="ME">Montenegro</option>
    <option class="country{{poll.pk}}" value="MS">Montserrat</option>
    <option class="country{{poll.pk}}" value="MA">Morocco</option>
    <option class="country{{poll.pk}}" value="MZ">Mozambique</option>
    <option class="country{{poll.pk}}" value="MM">Myanmar</option>
    <option class="country{{poll.pk}}" value="NA">Namibia</option>
    <option class="country{{poll.pk}}" value="NR">Nauru</option>
    <option class="country{{poll.pk}}" value="NP">Nepal</option>
    <option class="country{{poll.pk}}" value="NL">Netherlands</option>
    <option class="country{{poll.pk}}" value="NC">New Caledonia</option>
    <option class="country{{poll.pk}}" value="NZ">New Zealand</option>
    <option class="country{{poll.pk}}" value="NI">Nicaragua</option>
    <option class="country{{poll.pk}}" value="NE">Niger</option>
    <option class="country{{poll.pk}}" value="NG">Nigeria</option>
    <option class="country{{poll.pk}}" value="NU">Niue</option>
    <option class="country{{poll.pk}}" value="NF">Norfolk Island</option>
    <option class="country{{poll.pk}}" value="MP">Northern Mariana Islands</option>
    <option class="country{{poll.pk}}" value="NO">Norway</option>
    <option class="country{{poll.pk}}" value="OM">Oman</option>
    <option class="country{{poll.pk}}" value="PK">Pakistan</option>
    <option class="country{{poll.pk}}" value="PW">Palau</option>
    <option class="country{{poll.pk}}" value="PS">Palestinian Territory, Occupied</option>
    <option class="country{{poll.pk}}" value="PA">Panama</option>
    <option class="country{{poll.pk}}" value="PG">Papua New Guinea</option>
    <option class="country{{poll.pk}}" value="PY">Paraguay</option>
    <option class="country{{poll.pk}}" value="PE">Peru</option>
    <option class="country{{poll.pk}}" value="PH">Philippines</option>
    <option class="country{{poll.pk}}" value="PN">Pitcairn</option>
    <option class="country{{poll.pk}}" value="PL">Poland</option>
    <option class="country{{poll.pk}}" value="PT">Portugal</option>
    <option class="country{{poll.pk}}" value="PR">Puerto Rico</option>
    <option class="country{{poll.pk}}" value="QA">Qatar</option>
    <option class="country{{poll.pk}}" value="RE">Réunion</option>
    <option class="country{{poll.pk}}" value="RO">Romania</option>
    <option class="country{{poll.pk}}" value="RU">Russian Federation</option>
    <option class="country{{poll.pk}}" value="RW">Rwanda</option>
    <option class="country{{poll.pk}}" value="BL">Saint Barthélemy</option>
    <option class="country{{poll.pk}}" value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
    <option class="country{{poll.pk}}" value="KN">Saint Kitts and Nevis</option>
    <option class="country{{poll.pk}}" value="LC">Saint Lucia</option>
    <option class="country{{poll.pk}}" value="MF">Saint Martin (French part)</option>
    <option class="country{{poll.pk}}" value="PM">Saint Pierre and Miquelon</option>
    <option class="country{{poll.pk}}" value="VC">Saint Vincent and the Grenadines</option>
    <option class="country{{poll.pk}}" value="WS">Samoa</option>
    <option class="country{{poll.pk}}" value="SM">San Marino</option>
    <option class="country{{poll.pk}}" value="ST">Sao Tome and Principe</option>
    <option class="country{{poll.pk}}" value="SA">Saudi Arabia</option>
    <option class="country{{poll.pk}}" value="SN">Senegal</option>
    <option class="country{{poll.pk}}" value="RS">Serbia</option>
    <option class="country{{poll.pk}}" value="SC">Seychelles</option>
    <option class="country{{poll.pk}}" value="SL">Sierra Leone</option>
    <option class="country{{poll.pk}}" value="SG">Singapore</option>
    <option class="country{{poll.pk}}" value="SX">Sint Maarten (Dutch part)</option>
    <option class="country{{poll.pk}}" value="SK">Slovakia</option>
    <option class="country{{poll.pk}}" value="SI">Slovenia</option>
    <option class="country{{poll.pk}}" value="SB">Solomon Islands</option>
    <option class="country{{poll.pk}}" value="SO">Somalia</option>
    <option class="country{{poll.pk}}" value="ZA">South Africa</option>
    <option class="country{{poll.pk}}" value="GS">South Georgia and the South Sandwich Islands</option>
    <option class="country{{poll.pk}}" value="SS">South Sudan</option>
    <option class="country{{poll.pk}}" value="ES">Spain</option>
    <option class="country{{poll.pk}}" value="LK">Sri Lanka</option>
    <option class="country{{poll.pk}}" value="SD">Sudan</option>
    <option class="country{{poll.pk}}" value="SR">Suriname</option>
    <option class="country{{poll.pk}}" value="SJ">Svalbard and Jan Mayen</option>
    <option class="country{{poll.pk}}" value="SZ">Swaziland</option>
    <option class="country{{poll.pk}}" value="SE">Sweden</option>
    <option class="country{{poll.pk}}" value="CH">Switzerland</option>
    <option class="country{{poll.pk}}" value="SY">Syrian Arab Republic</option>
    <option class="country{{poll.pk}}" value="TW">Taiwan, Province of China</option>
    <option class="country{{poll.pk}}" value="TJ">Tajikistan</option>
    <option class="country{{poll.pk}}" value="TZ">Tanzania, United Republic of</option>
    <option class="country{{poll.pk}}" value="TH">Thailand</option>
    <option class="country{{poll.pk}}" value="TL">Timor-Leste</option>
    <option class="country{{poll.pk}}" value="TG">Togo</option>
    <option class="country{{poll.pk}}" value="TK">Tokelau</option>
    <option class="country{{poll.pk}}" value="TO">Tonga</option>
    <option class="country{{poll.pk}}" value="TT">Trinidad and Tobago</option>
    <option class="country{{poll.pk}}" value="TN">Tunisia</option>
    <option class="country{{poll.pk}}" value="TR">Turkey</option>
    <option class="country{{poll.pk}}" value="TM">Turkmenistan</option>
    <option class="country{{poll.pk}}" value="TC">Turks and Caicos Islands</option>
    <option class="country{{poll.pk}}" value="TV">Tuvalu</option>
    <option class="country{{poll.pk}}" value="UG">Uganda</option>
    <option class="country{{poll.pk}}" value="UA">Ukraine</option>
    <option class="country{{poll.pk}}" value="AE">United Arab Emirates</option>
    <option class="country{{poll.pk}}" value="US">United States</option>
    <option class="country{{poll.pk}}" value="UM">United States Minor Outlying Islands</option>
    <option class="country{{poll.pk}}" value="UY">Uruguay</option>
    <option class="country{{poll.pk}}" value="UZ">Uzbekistan</option>
    <option class="country{{poll.pk}}" value="VU">Vanuatu</option>
    <option class="country{{poll.pk}}" value="VE">Venezuela, Bolivarian Republic of</option>
    <option class="country{{poll.pk}}" value="VN">Viet Nam</option>
    <option class="country{{poll.pk}}" value="VG">Virgin Islands, British</option>
    <option class="country{{poll.pk}}" value="VI">Virgin Islands, U.S.</option>
    <option class="country{{poll.pk}}" value="WF">Wallis and Futuna</option>
    <option class="country{{poll.pk}}" value="EH">Western Sahara</option>
    <option class="country{{poll.pk}}" value="YE">Yemen</option>
    <option class="country{{poll.pk}}" value="ZM">Zambia</option>
    <option class="country{{poll.pk}}" value="ZW">Zimbabwe</option>
</select>