<!DOCTYPE HTML>
<html>
<head>
     <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        .content{
            padding: 100px;
            padding-left: 100px;
        }
        tr {
            color:lightblue;
        }
    </style>
</head>    
<body class="container-fluid">
<div class="content">
    <h3>{{ survey.title }}</h3>
    <h4>{{ survey.description }}</h4>
    <hr>
    <form method="post" name="myForm" role="form" novalidate="novalidate" action=".">{% csrf_token %}
        {% for poll in polls %}
        <h4>{{ poll.question }}</h4>
        <fieldset id="idpoll{{ poll.pk }}">
            {% for choice in poll.charchoice_set.all %}
                <label class="radio control-label"><input type="radio" name="idpoll{{ poll1.pk }}" value="{{ choice.pk }}">{{choice.choice_text}}</label>
            {% endfor %}
        </fieldset>
        <hr>
	{% endfor %}

     
        <input type="submit" value="Submit">
    </form>
</div>
</body>
