<!DOCTYPE HTML>
<html>
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/survey.css' %}">
</head>    
<body class="container-fluid">
<div class="survey-content">
    <h2>{{ survey.title }}</h2>
    <h3>{{ survey.description }}</h3>
    <hr>
    <form autocomplete="off" method="post" name="myForm" role="form" novalidate="novalidate" action=".">{% csrf_token %}
        {% for poll in polls %}
        <h3 class="poll-question">{{ poll.question }} </h3>

            {% if poll.poll_type == 'multi' %}
                <fieldset>
                    {% for choice in poll.charchoice_set.all %}
                        <label class="checkbox control-label"><input type="checkbox" name="{{ poll.pk }}" value="{{choice.pk}}">{{choice.choice_text}}</label>
                    {% endfor %}
                </fieldset>
            
            {% elif poll.poll_type == 'one' %}
                <fieldset id="idpoll{{ poll.pk }}">
                    {% for choice in poll.charchoice_set.all %}
                        <label class="radio{{poll.pk}} main-radio radio control-label" id="id{{choice.pk}}"><input type="radio" name="{{ poll.pk }}" value="{{ choice.pk }}">{{choice.choice_text}}</label>

                        {% for nested_poll in choice.nested.all %}
                            <div class="nested nestedradio{{poll.pk}} nestedid{{choice.pk}}">
                                <div class="nested-poll-question"><h4>{{ nested_poll.question }}</h4></div>
                                {% if nested_poll.poll_type == 'one' %}
                                    <fieldset class="nested nestedradio{{poll.pk}} nestedid{{ choice.pk }}" id="set{{choice.pk}}">
                                    {% for nested_choice in nested_poll.charchoice_set.all %}
                                        <label class="radio control-label"><input type="radio" id="idof{{ nested_choice }}" name="{{ nested_poll.pk }}" value="{{ nested_choice.pk }}">{{nested_choice.choice_text}}</label>
                                    {% endfor %}
                                    </fieldset>
                                {% elif nested_poll.poll_type == 'text' %}
                                    <label class="control-label"><input type="text" id="idof{{ nested_choice }}" class="form-control nested nestedradio{{poll.pk}} nestedid{{ choice.pk }}" name="{{ nested_poll.pk }}" value=""></label>
                                {% elif nested_poll.poll_type == 'first_name' %}
                                    <label class="control-label"><input type="text" id="idof{{ nested_choice }}" class="form-control nested nestedradio{{poll.pk}} nestedid{{ choice.pk }}" name="{{ nested_poll.pk }}" value=""></label>

                                {% elif nested_poll.poll_type == 'phone' %}
                                    <label class="control-label"><input type="tel" id="idof{{ nested_choice }}" class="form-control nested nestedradio{{poll.pk}} nestedid{{ choice.pk }}" name="{{ nested_poll.pk }}" value=""></label>                                                                        
                               {% elif nested_poll.poll_type == 'email_now' or 'email' %}
                                    <label class="control-label"><input type="email" id="idof{{ nested_choice }}" class="email form-control nested nestedradio{{poll.pk}} nestedid{{ choice.pk }}" name="{{ nested_poll.pk }}" value="" placeholder="Enter your email"></label>                                    

                                {% endif %}
                            </div>
                        {% endfor %}

                    {% endfor %}
                </fieldset>

	   
            {% elif poll.poll_type == 'text' %}
                    <label class="control-label"><input type="text" class="form-control" name="{{ poll.pk }}" value=""></label>

            {% elif poll.poll_type == 'email_now' %}
                    <label class="control-label"><input type="email" class="form-control" name="{{ poll.pk }}" value=""></label>

            {% elif poll.poll_type == 'email' %}
                    <label class="control-label"><input type="email" class="form-control" name="{{ poll.pk }}" value=""></label>

            {% elif poll.poll_type == 'countries' %}
                {% include 'polls/countries.html' %}
                    {% for choice in poll.charchoice_set.all %}
                        {% for nested_poll in choice.nested.all %}
                            <div class="nested nestedcountry{{poll.pk}} nestedid{{choice}}">
                                <div class="nested-poll-question">{{ nested_poll.question }}</div>
                                {% if nested_poll.poll_type == 'one' %}
                                    <fieldset class="nested nestedcountry{{poll.pk}} nestedid{{choice}}">{% for nested_choice in nested_poll.charchoice_set.all %}
                                        <label class="radio control-label"><input type="radio" id="idof{{ nested_choice }}" name="{{ nested_poll.pk }}" value="{{ nested_choice.pk }}">{{nested_choice.choice_text}}</label>
                                    {% endfor %}
                                    </fieldset>
                                {% endif %}
                            </div>    
                        {% endfor %}
                    {% endfor %}
            {% endif %}
        {% endfor %}
        <hr>
        <input type="submit" value="Submit">
    </form>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('.nested').hide()
    $(".nested").prop('disabled', true);
    $('form').on('change', '.main-radio',function(){
        choice = $(this).attr('id')
        poll = $(this).attr('class').split(' ')[0]
        console.log('dd', choice, poll)
        $('.nested' + poll).hide('slow')
        $('.nested' + poll).prop('disabled', true);
        $('.nested' + choice).show('slow')
        $('.nested' + choice).prop('disabled', false);
    })

    $('select').change(function(){
        choice = $(this).val()
        poll = $(this).attr('class')
        console.log(choice, poll)
        $('.nested' + poll).hide('slow')
        $('.nested' + poll).prop('disabled', true);
        $('.nestedid' + choice).show('slow')
        $('.nestedid' + choice).prop('disabled', false);
    })

})

// firefox and safari fix javascript not loading after 'back' button klick
$(window).unload(function () { $(window).unbind('unload'); });
$(window).bind('pageshow', function(event) {
    if (event.originalEvent.persisted) {
        window.location.reload() 
    }
});
// ---------
</script>
</body>
