.chtext, .question {
    text-align: right;  

}
.poll-question {
    padding-top:30px; 
}
.blue {
    background-color: #b3d7e5;
}
.white {
    background-color: #8ec7dd;
}

.chvalue {
    text-align: left;
}

 .value {
    text-align: center;
}

.nested-poll-question {
    padding-top: 10px;
}

.radio, .checkbox {
    font-size: 20px;
}
select { 
    font-size:20px;
}

form {
    padding-bottom: 100px;
}

#branding {
    display: block;
    color: #ffff66;
    font-size: 1.7em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 100;
}

#header {
    height: 4.4em;
}
