.chtext, .question {
    text-align: right;  

}
.poll-question {
    padding-top:30px; 
}
.blue {
    background-color: #cceeff;
}
.white {
    background-color: #e6f7ff;
}

.chvalue {
    text-align: left;
}

.content {
    padding-left: 20px;
}
 .value {
    text-align: center;
}

.navbar {
    background-color: gray;
}

.navbar-brand, .nav-link {
    color: white;
}

.survey-content {
    padding-top: 100px;
    padding-left: 10%;
}

.nested {
    padding-left: 30px;
}

.nested-poll-question {
    padding-top: 10px;
}

fieldset {
    padding-left: 50px;
}

.radio, .checkbox {
    font-size: 20px;
}
select { 
    font-size:20px;
}

form {
    padding-bottom: 100px;
}