server {
    listen 80;
    server_name brumatr-staging.noip.me;

    location /static {
        alias /home/webdata/sites/brumatr-staging.noip.me/static;
    }

#   location / {
#       proxy_pass http://localhost:8000;
#   }

    location / {
        proxy_set_header Host $host;
        proxy_pass http://unix:/home/webdata/sites/brumatr-staging.noip.me/myproject.sock;
    }

}
